RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|sql|bak)$">
    Require all denied
</FilesMatch>

DirectoryIndex login.php
